
* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url(black.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #333;
    line-height: 1.6;
}


header {
    background: linear-gradient(to right, rgba(0, 188, 212, 0.8), rgba(63, 81, 181, 0.8));
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: uppercase;
}

nav a:hover {
    text-decoration: underline;
    color: #ffeb3b;
}


main {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


section {
    background: #ffffff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 900px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


#math {
    background: url(sin.jpg) no-repeat center center;
    background-size: cover;
    color: #ffffff; 
}

#ece {
    background: url(ece1.jpg) no-repeat center center;
    background-size: cover;
    color: #ffffff;
}

#physics {
    background: url(phy.webp) no-repeat center center;
    background-size: cover;
    color: #ffffff;
}

#env {
    background: url(space.jpg) no-repeat center center;
    background-size: cover;
    color: #ffffff;
}


section h2 {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); 
}


section ul {
    list-style-type: none;
    padding: 0;
}

section ul li {
    margin: 10px 0;
}

section ul li a {
    color: #ffffff;
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

section ul li a:hover {
    color: #ffeb3b;
    text-decoration: underline;
}


footer {
    background-color: #35424a;
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 1rem;
}


@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    nav ul {
        text-align: center;
        margin-top: 20px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    section {
        width: 95%;
        margin: 10px 0;
    }
}
